<h1>Ask a Question</h1>

<%= render "layouts/errors" %>

<form action="<%= questions_url %>" method="post">
  <%= auth_token_input %>
  <label>
    Title
    <input type="text" name="question[title]" value="">
  </label>

  <label>
    Body
    <input type="text" name="question[body]" value="">
  </label>

  <label>
    Tags
    <input type="text" name="question[tags]" value="">
  </label>

  <input type="submit" value="Ask">
</form>
