<div class='wmd-panel'>
    <div id='<%= 'wmd-button-bar-answer-' + answer.id%>'></div>
    <textarea class='wmd-input' name='answer[body]' id='<%='wmd-input-answer-'+answer.id %>'><%= answer.get('body') %></textarea>
  </div>
<button id='submit-edit'>Submit</button>
