<div class='wmd-panel'>
    <div id='wmd-button-bar-2'></div>
    <textarea class='wmd-input' name='answer[body]' id='wmd-input-2'>
      <%= answer.get('body') %>
    </textarea>
  </div>
<button>Answer!</button>
