<div class='likes'></div>
<% if (answer.get('accepted')) { %>
  <strong>Accepted!</strong>
<% } else if (owner && BlockOverhead.currentUser.id === owner.id){%>
  <button class='accept-answer'>Accept</button>
<% } %>
<pre><%= Markdown.getSanitizingConverter().makeHtml(answer.get('body')) %></pre>

<div class='posted-by'></div>
<% if (BlockOverhead.currentUser.id === answer.author().id) { %>
  <button class='edit-answer'>edit</button>
<% } %>
<section class='comments'></section>
