<div class='answer-data group'>
  <div class='likes'></div>

  <div class='accept'>
    <% if (answer.get('accepted')) { %>
      <strong>Accepted!</strong>
    <% } else if (owner && BlockOverhead.currentUser.id === owner.id){%>
      <button class='accept-answer'>Accept</button>
    <% } %>
  </div>

  <div class='answer-body'><%= Markdown.getSanitizingConverter().makeHtml(answer.get('body')) %>
    <div class='meta group'>
      <div class='posted-by'></div>
    </div>
    <% if (BlockOverhead.currentUser.id === answer.author().id) { %>
      <button class='edit-answer'>edit</button>
    <% } %>
  </div>
</div>
<section class='comments'></section>
