<h1><%= user.get('username') %></h1>

<div id='user-data'>
  <strong>Location: </strong><%= user.get('location') %><br>
  <strong>Join Date: </strong><%= user.get('created_at') %><br>
  <% if (BlockOverhead.currentUser.id === Number(user.id)) { %>
    <button id='Edit'>Edit</button><br>
  <% } %>
</div>

<label>
  <strong>Watched Tags:</strong>
  <div id='tags'></div>
</label>

<label>
  <h2>Answers</h2>
</label>
<section id='answers'></section>

<label>
  <h2>Questions</h2>
</label>
<section id='questions'></section>
