<div class='wmd-panel'>
    <div id='wmd-button-bar-2'></div>
    <textarea class='wmd-input' name='comment[body]' id='wmd-input-2'>
      <%= question.get('body') %>
    </textarea>
  </div>
<button>Submit</button>
