<pre class='comment-body'><%= comment.get('body') %></pre>
<a class="comment-author" href=<%= '#/users/'+comment.author().id %>>-<%= comment.author().get('username') %>
<% if (BlockOverhead.currentUser.id === comment.author().id) { %>
  <a href="javascript:void(0)" class='delete-comment'>delete</a>
<% } %>

<div class="comment-border"></div>
