<h1>Edit User Info</h1>

<%= render "layouts/errors" %>

<form action="<%= user_url(@user) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token_input %>
  <label>
    Location
    <input type="text" name="user[location]" value="<%= @user.location %>">
  </label>

  <input type="submit" value="Submit">
</form>

<%#TODO confirm password change?%>
<%#TODO Also maybe add email addresses to users...%>
