
<%= render "layouts/errors" %>
<div id="new-user">
  <h1>Sign Up</h1>

  <form action="<%= users_url %>" method="post">
    <%= auth_token_input %>
    <label>
      <div class='lbl-text'>Username</div>
      <input type="text" name="user[username]" value="">
    </label>

    <label>
      <div class='lbl-text'>Password</div>
      <input type="password" name="user[password]" value="">
    </label>

    <input id='submit' type="submit" value="Sign Up">
  </form>
  <div id='guest'>
  <%= button_to 'Sign in as Guest', '/users/demo' %>
  </div>
</div>
