<label id='title'>Title
  <input type="text" name="question[title]" value="<%= question.get('title') %>" id='title'>
</label>

<div class='wmd-panel'>
  <div id='wmd-button-bar'></div>
  <textarea class='wmd-input' name='question[body]' id='wmd-input'><%= question.get('body') %></textarea>
</div>

<% var tagString = ''; %>
<% question.tags().each( function(tag) { %>
     <% tagString += tag.get('title') + ' '; %>
<%  }); %>
<label id='tags'>Tags
  <input type="text" name="question[tags]" value='<%= tagString %>' id='tags'>
</label>

<input type="submit" value="Ask" class="submit" id='question-button'>
