<h1><%= question.get('title') %></h1>
<strong>
  <%= question.get('view_count') %> views
</strong>

<br><br>

<div class='likes'></div>

<pre>
  <%= question.get('body') %>
</pre>

<div class='posted-by'></div>
<label>
  <strong>Tags:</strong>
  <div id='tags'></div>
</label>

<button class='edit'>Edit</button>

<section class='comments'></section>

<section id='answers'></section>

<div id='new-answer'></div>
