#new-session {
  width: 900px;
  margin: auto;
}

#new-session h1 {
  margin-bottom: 20px;
}

#guest {
  margin-top: 20px;
}

.lbl-text {
  display: inline-block;
  width: 90px;
}

#submit {
  margin-top: 10px;
}
