// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul, li, pre, h1, h2, a, p, body, div {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: sans-serif;
  text-decoration: none;
}

label {
  display: block;
}

.vote {
  display: block;
}

p.vote {
  margin: auto;
  text-align: center;
}

.voting {
  float: left;
  width: 30px;
  margin-left: 10px;
}

#views {
  padding-right: 20px;
  display: block;
}

#tags {
  display: block;
  float: left;
}

#tags a {
  background: #DEE9F2;
  margin: 0 3px;
  color: #30599C;
  font-size: 12px;
  padding: 2px 5px;
}

.meta {
  padding: 10px 0;
}

.posted-by {
  float: right;
  padding-right: 20px;
}

.comment-field {
  margin-top: 10px;
  width: 500px;
  height: 100px;
  display: block;
}

a {
  color: black;
}

body {
}

nav#user{
  background: #000;
  height: 30px;
}

div#user-inner {
  width: 900px;
  margin: auto;
}

input#search-bar {
  float: right;
  width: 150px;
  margin-top: 5px;
}

#user-inner > a {
  vertical-align: center;
  text-align: center;
  font-size: 12px;
  color: white;
  float: right;
  padding: 8px 10px;
  margin-left: 30px;
}

#user-inner > a:hover {
  background: #444;
}

nav#link-bar{
  display: block;
  width: 900px;
  margin: auto;
  padding: 40px 0;
}

#link-inner {
  float: right;
}

#link-inner > a {
  font-size: 14px;
  float: left;
  display: block;
  padding: 5px;
  color: white;
  background: gray;
  margin-left: 20px;
}

#link-inner > a:hover {
  background: orange;
}

.comments {
  padding-top: 20px;
  width: 800px;
  margin-left: 100px;
}

.comment {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

#main {
  width: 900px;
  background: #fff;
  margin: auto;
  margin-bottom: 50px;
}

#question-title {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

#question-title > h1 {
  display: inline;
}

h1 {
  font-size: 24px;
}

#question-title > strong {
  float: right;
}

.likes {
  padding-top: 20px;
  float: left;
  display: block;
}

#question-body, .answer-body {
  padding-top: 20px;
  display: block;
  float: right;
  width: 800px;
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: normal;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: normal;
  white-space: normal;
}

.answer {
  padding-top: 20px;
}

.add-comment {
  font-size: 12px;
  color: #aaa
}

#question-body img, .answer-body img {
  max-width: 100%;
}

.accept {
  display: block;
  float: left;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

#modal {
  border: 1px solid #888;
  background: white;
  position: fixed;
  width: 450px;
  left: 50%;
  transform: translateX(-225px);
  top: 150px;
  z-index: 9001;
}

.upload {
  padding: 20px;
}

#up-title {
  display: block;
}

#up-title > h2 {
  float: left;
  font-size: 18px;
  font-weight: bold;
}

#up-title > a {
  font-size: 14px;
  text-align: center;
  float: right;
  color: white;
  background: black;
  width: 20px;
  height: 20px;
}

#type-select {
  display: block;
  float: left;
  width: 140px;
  font-size: 14px;
}

#type-select > label{
  padding: 3px 0;
}

#local-up, #url-up {
  width: 250px;
  float: right;
  height: 20px;
  margin: 5px;
}

.upload > a:hover {
  cursor: pointer;
}

.form-data {
  padding: 10px 0 25px 0;
}

#local-up > input, #url-up > input {
  border: 1px solid #999;
  padding: 3px;
  float: right;
  width: 200px;
}

#submit-img {
  float: right;
  background: #333;
  color: white;
  padding: 5px;
  text-size: 18px;
  border-radius: 2px 5px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

h2 {
  font-size: 20px;
}

#new-answer{
  width: 400px;
}

.new-question {
  width: 0px;
}

#new-answer textarea, .new-question textarea, .answer textarea {
  width: 550px;
  background: white;
  height: 200px;
}

#answer-button {
  font-size: 12px;
  background: #1187FF;
  border: 1px solid black;
  color: white;
  padding: 10px;
  border-radius: 3px;
  margin: 20px 100px;
}

.new-question > label {
  padding: 20px 0;
}

.new-question > .submit {
  display: block;
  float: left;
  font-size: 12px;
  background: #1187FF;
  border: 1px solid black;
  color: white;
  border-radius: 3px;
}

#questions-list{
  border-top: 1px solid #ccc;
}

.list-question {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.question-left {
  float: left;
  width: 150px;
}

.q-votes {
  text-align: center;
  float: left;
}

.q-views {
  text-align: center;
  float: right;
}

.question-right {
  float: right;
  width: 650px;
}

#pages {
  padding-top: 10px;
}

#pages > .page {
  display: inline;
  border: 1px solid #ccc;
  padding: 2px 5px;
}

#pages > .cur {
  background: orange;
  color: white;
  border: none;
}

h1#username {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

#user-data img {
  width: 125px;
  display: block;
}

#user-data {
  padding: 10px 0;
}

.user-show h2 {
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
}
