// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul, li, pre, h1, h2, a, p, body {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: sans-serif;
  text-decoration: none;
}

label {
  display: block;
}

.vote {
  display: block;
}

p.vote {
  margin: auto;
  text-align: center;
}

.voting {
  float: left;
  width: 30px;
  margin-left: 10px;
}

#views {
  display: block;
}

#question-title {
  padding-left: 100px;
  height: 60px;
}

#tags a {
  background: #55f;
  margin: 0 3px;
  color: white;
  text-shadow: 1px 0 0 #000;
  padding: 2px 5px;
  border-radius: 5px;
}

h1 {
  font-size: 36px;
}

a {
  color: black;
}

body {
  background: #eee
}

nav#user{
  background: #0b0
}

nav#user > * {
  float: right;
  width: 30px;
  padding: 0 20px;
}

nav#link-bar{
  background: #bbb;
}

nav#link-bar > a{
  float: right;
  margin: 0 10px;
  padding: 10px 20px;
  border: 1px solid black;
}

.comments {
  background: #eee;
  width: 600px;
  margin-left: 100px;
}

.comment {
  display: block;
}

#main {
  border: 1px solid gray;
  width: 900px;
  background: #fff;
  margin: auto;
}

#question-body {
  width: 700px;
  background: silver;
}

#question-body img, .answer-body img {
  max-width: 100%;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

#modal {
  border: 1px solid #888;
  background: white;
  position: fixed;
  width: 450px;
  left: 50%;
  transform: translateX(-225px);
  top: 150px;
  z-index: 9001;
}

.upload {
  padding: 20px;
}

#up-title {
  display: block;
}

#up-title > h2 {
  float: left;
  font-size: 18px;
  font-weight: bold;
}

#up-title > a {
  font-size: 14px;
  text-align: center;
  float: right;
  color: white;
  background: black;
  width: 20px;
  height: 20px;
}

#type-select {
  display: block;
  float: left;
  width: 140px;
  font-size: 14px;
}

#type-select > label{
  padding: 3px 0;
}

#local-up, #url-up {
  width: 250px;
  float: right;
  height: 20px;
  margin: 5px;
}

.upload > a:hover {
  cursor: pointer;
}

.form-data {
  padding: 10px 0 25px 0;
}

#local-up > input, #url-up > input {
  border: 1px solid #999;
  padding: 3px;
  float: right;
  width: 200px;
}

#submit-img {
  float: right;
  background: #333;
  color: white;
  padding: 5px;
  text-size: 18px;
  border-radius: 2px 5px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
